#app {
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  font-size: calc(30px + 2vh);
}

h1 {
  font-size: calc(24px + 1.1vh);
  font-weight: bold;
}

h2 {
  font-size: calc(20px + .8vh);
  font-weight: bold;
}

h3 {
  font-size: calc(16px + .7vh);
  font-weight: bold;
}

h4 {
  font-size: calc(14px + .5vh);
  font-weight: bold;
}

h5 {
  font-size: calc(12px + .5vh);
  font-weight: bold;
}

span {
  font-size: calc(12px + .3vh);
}

p {
  font-size: calc(12px + .5vh);
}

#ratings-reviews-title {
  font-size: calc(25px + .8vh)
}

#ratings .star-rating {
  font-size: 2rem;
}

.tile-header .star-rating {
  font-size: 1.5rem;
}

.tile-date {
  font-size: calc(12px + .2vh);
}

.tile-summary {
  font-weight: bold;
  overflow-wrap: normal;
  word-break: normal;
}

.tile-helpful-report span {
  font-size: 12px;
}

.char-meaning-low, .char-meaning-high {
  font-size: 12px;
}