/*============================================
  RATINGS AND REVIEWS
============================================*/

#ratings-reviews {
  @include displayCol;
  width: 85%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#ratings-reviews .container-row {
  justify-content: space-between;
  width: 100%;
}

/*============================================
  RATINGS METADATA
============================================*/

#ratings {
  @include displayCol;
  width: 25%;
  min-width: 275px;
}

#ratings-header {
  @include displayRow;
  align-items: center;

}

.container-row {
 @include displayRow;
}

#ratings .star-rating {
  font-size: 2rem;
}

#numeral-rating {
  font-size: 3rem;
  padding-right: 20px;
}

#bar-graph {
  @include displayCol;
}

.graph-row {
  @include displayRow;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.num-stars {
  text-align: center;
  white-space: nowrap;
  width: 15%;
}

.num-ratings {
  text-align: center;
  width: 5%;
}

.bar {
  width: 65%;
  height: .7rem;
  background: linear-gradient(90deg, rgba(4, 136, 4, 0.7) var(--bar-size), $bar-gray var(--bar-size));
}

#characteristics {
  @include displayCol;
  align-items: center;
}

.characteristic {
  @include displayCol;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.char-name {
  margin-bottom: 10px;
}

.char-bar {
  width: 100%;
  height: .7em;
  background: linear-gradient(90deg,
    transparent .5%,
    $bar-gray .5%,
    $bar-gray 19.5%,
    transparent 19.5%,
    transparent 20.5%,
    $bar-gray 20.5%,
    $bar-gray 39.5%,
    transparent 39.5%,
    transparent 40.5%,
    $bar-gray 40.5%,
    $bar-gray 59.5%,
    transparent 59.5%,
    transparent 60.5%,
    $bar-gray 60.5%,
    $bar-gray 79.5%,
    transparent 79.5%,
    transparent 80.5%,
    $bar-gray 80.5%,
    $bar-gray 99.5%,
    transparent 99.5%
    );
}

.char-marker {
  position: relative;
  left: var(--marker-position);
  top: -1.3em;
}

.char-meaning {
  @include displayRow;
  justify-content: space-between;
}

/*============================================
  REVIEWS DISPLAY
============================================*/

#reviews {
 @include displayCol;
  width: 65%;
  min-width: 550px;
}

.review-tile {
  margin: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.tile-header {
  @include displayRow;
  justify-content: space-between;
}

#reviews-header-sort {
  background: transparent;
}

.tile-date {
  font-size: calc(12px + .2vh);
}

.tile-summary {
  font-weight: bold;
  overflow-wrap: normal;
  word-break: normal;
}

.tile-helpful-report span {
  font-size: 12px;
  padding-right: 5px;
}

.tile-yes, .tile-report {
  text-decoration: underline;
}

.tile-yes:hover, .tile-report:hover {
  color: purple;
}

.tile-helpfulness {
  margin-right: 5px;
}

.tile-report {
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}